---
layout: default
title: AMCJ Architecture | Projets
---
<ul class="nav nav-pills" id="projects-filters">
  <li class="active type-li">
    <a href="#" class="type-filter" data-filter=".all">Tous</a>
  </li>
  <li class="type-li">
    <a href="#" class="type-filter" data-filter=".outside">Construction</a>
  </li>
  <li class="type-li">
    <a href="#" class="type-filter" data-filter=".inside">Architecture d'intérieur</a>
  </li>
  <li class="type-li">
    <a href="#" class="type-filter" data-filter=".decoration">Décoration</a>
  </li>
  <li class="pull-right">
    <a data-toggle="dropdown" href="#">
      <i class="fa fa-angle-down"></i>
      &nbsp;
      <span class="project-title">Tous les projets</span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li><a data-filter=".all">Tous les projets</a></li>
      {% for project in site.data.projects %}
        <li>
          <a data-filter='.{{project[0]}}'>
            {{project[1].name}}
          </a>
        </li>
      {% endfor %}

    </ul>
  </li>
</ul>
<br/>

<div id="projects-container" class="clearfix">
  <div id="projects-loading">
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
    </div>
  </div>
  {% for picture in site.data.pictures %}
    {% assign project = site.data.projects[picture.project] %}
    {% capture name %}
      {{ project.name }} ({{ picture.index }}/{{  project.pictures }})
    {% endcapture %}
    <a class='project all {{picture.css}} {{picture.type}} {{picture.project}}' href='img/projets/{{picture.project}}_{{picture.index}}_hq.jpg' rel="gal" title="{{name}}">
      <img src='img/projets/{{picture.project}}_{{picture.index}}.jpg' alt="{{name}}" />
      <div class="img-desc"><h2></h2></div>
      </a>
  {% endfor %}
</div>
