<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}">
        <meta name="keywords" content="{{ page.keywords }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/jquery.colorbox.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class='container'>
          <header>
            <nav class="navbar navbar-default" role="navigation">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a href="/index.html" class="navbar-brand">
                    <img src='img/logo.png' />
                  </a>
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div class="collapse navbar-collapse" id="menu">
                  <ul class="nav navbar-nav">
                    {% if page.url == '/' %}
                      <li class='active'><a href='index.html'>PROJETS</a></li>
                    {% else %}
                      <li><a href='index.html'>PROJETS</a></li>
                    {% endif %}

                    {% if page.url == '/presentation.html' %}
                      <li class='active'><a href='presentation.html' class='active'>PRÉSENTATION</a></li>
                    {% else %}
                      <li><a href='presentation.html'>PRÉSENTATION</a></li>
                    {% endif %}

                    {% if page.url == '/contact.html' %}
                      <li class='active'><a href='contact.html'>CONTACT</a></li>
                    {% else %}
                      <li><a href='contact.html'>CONTACT</a></li>
                    {% endif %}

                  </ul>
                  <ul class="nav navbar-nav navbar-right share-buttons">
                    <li>
                      <a href="http://fr.pinterest.com/cunyjanvier/" target="_blank">
                        <i class="fa fa-pinterest-square"></i>
                      </a>
                    </li>

                    <li>
                      <a href="https://www.facebook.com/pages/AMCJ/520670694706942?ref=hl" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://plus.google.com/b/102912122805663704594/102912122805663704594/about?hl=fr" target="_blank">
                        <i class="fa fa-google-plus-square"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </header>
          <div id="content">
            {{ content }}
          </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="js/images-loaded.js"></script>
        <script src="js/isotope.js"></script>
        <script src="js/jquery.colorbox.js"></script>
        <script src="js/application.js"></script>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-46941763-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </body>
</html>
